---
- name: Create and connect VDS
  hosts: localhost
  gather_facts: False
  vars_files:
    - ../answerfile.yml
  tasks:
    - name: Create vMotion vmk1
      vmware_vmkernel:
        hostname: "{{ item.value.ip }}"
        username: "root"
        password: "VMware1!"
        vswitch_name: "vSwitch0"
        portgroup_name: "vmotion"
        vlan_id: "{{ vmotion_vlan }}"
        validate_certs: False
        ip_address: "{{ item.value.vmotion_ip }}"
        subnet_mask: "{{ vmotion_mask }}"
        enable_vmotion: True
      with_dict: "{{ vESX }}"
    - name: Create vSAN vmk2
      vmware_vmkernel:
        hostname: "{{ item.value.ip }}"
        username: "root"
        password: "VMware1!"
        vswitch_name: "vSwitch0"
        portgroup_name: "vsanvsspg"
        vlan_id: "{{ vsan_vlan }}"
        validate_certs: False
        ip_address: "{{ item.value.vsan_ip }}"
        subnet_mask: "{{ vsan_mask }}"
        enable_vsan: True
      with_dict: "{{ vESX }}"
    - name: Create Distributed Switch
      vmware_dvswitch:
        hostname: "{{ vcenter.ip }}"
        username: "{{ vcenter.user }}"
        password: "{{ vcenter.password }}"
        datacenter_name: "{{ vcenter.datacenter }}"
        validate_certs: false
        switch_name: "ComputeEdgeVDS"
        mtu: 1600
        uplink_quantity: 2
        discovery_proto: lldp
        discovery_operation: both
        state: present
      register: vds
    - name: Create Management Portgroup
      vmware_dvs_portgroup:
        hostname: "{{ vcenter.ip }}"
        username: "{{ vcenter.user }}"
        password: "{{ vcenter.password }}"
        validate_certs: false
        portgroup_name: Management
        switch_name: "ComputeEdgeVDS"
        vlan_id: "{{ physicalESX.vlan }}"
        num_ports: 120
        portgroup_type: earlyBinding
        state: present
      register: pg
    - name: Create vMotion Portgroup
      vmware_dvs_portgroup:
        hostname: "{{ vcenter.ip }}"
        username: "{{ vcenter.user }}"
        password: "{{ vcenter.password }}"
        validate_certs: false
        portgroup_name: vMotion
        switch_name: "ComputeEdgeVDS"
        vlan_id: "{{ vmotion_vlan }}"
        num_ports: 120
        portgroup_type: earlyBinding
        state: present
      register: vmotion_pg
    - name: Create vSAN Portgroup
      vmware_dvs_portgroup:
        hostname: "{{ vcenter.ip }}"
        username: "{{ vcenter.user }}"
        password: "{{ vcenter.password }}"
        validate_certs: false
        portgroup_name: vSAN
        switch_name: "ComputeEdgeVDS"
        vlan_id: "{{ vmotion_vlan }}"
        num_ports: 120
        portgroup_type: earlyBinding
        state: present
      register: vsan_pg

    - name: Migrate uplinks to the new VDS
      vmware_dvs_host:
        hostname: "{{ vcenter.ip }}"
        username: "{{ vcenter.user }}"
        password: "{{ vcenter.password }}"
        validate_certs: false
        esxi_hostname: "{{ item.value.ip }}"
        switch_name: "ComputeEdgeVDS"
        vmnics:
          - vmnic1
          - vmnic2
        state: present
      with_dict: "{{ vESX }}"
      register: vmnic0res
    - name: Migrate vmk2 to the new VDS
      vmware_migrate_vmk:
        hostname: "{{ vcenter.ip }}"
        username: "{{ vcenter.user }}"
        password: "{{ vcenter.password }}"
        validate_certs: false
        esxi_hostname: "{{ item.value.ip }}"
        device: vmk2
        current_switch_name: vSwitch0
        current_portgroup_name: "vsanvsspg"
        migrate_switch_name: "ComputeEdgeVDS"
        migrate_portgroup_name: vSAN
      with_dict: "{{ vESX }}"
      register: vmkmigrate
    - name: Migrate vmk1 to the new VDS
      vmware_migrate_vmk:
        hostname: "{{ vcenter.ip }}"
        username: "{{ vcenter.user }}"
        password: "{{ vcenter.password }}"
        validate_certs: false
        esxi_hostname: "{{ item.value.ip }}"
        device: vmk1
        current_switch_name: vSwitch0
        current_portgroup_name: "vmotion"
        migrate_switch_name: "ComputeEdgeVDS"
        migrate_portgroup_name: vMotion
      with_dict: "{{ vESX }}"
      register: vmkmigrate
    - name: Enable vSAN
      enable_vsan:
        vcenter: "{{ vcenter.ip }}"
        user: "{{ vcenter.user }}"
        passwd: "{{ vcenter.password }}"
        cluster: "{{ item.key }}"
      when: "{{ item.value.vsan }} == True"
      with_dict: "{{ clusters }}"
    - name: Claim disks for vSAN
      claim_vsan_disks:
        vcenter: "{{ vcenter.ip }}"
        user: "{{ vcenter.user }}"
        passwd: "{{ vcenter.password }}"
        cluster: "{{ item.key }}"
      when: "{{ item.value.vsan }} == True"
      with_dict: "{{ clusters }}"
    - name: Clear vSAN errors for unsupported hardware
      clear_vsan_errors:
        vcenter: "{{ vcenter.ip }}"
        user: "{{ vcenter.user }}"
        passwd: "{{ vcenter.password }}"
    - name: Enable HA on the clusters
      enable_ha:
        vcenter: "{{ vcenter.ip }}"
        user: "{{ vcenter.user }}"
        passwd: "{{ vcenter.password }}"
        cluster: "{{ item.key }}"
      when: "{{ item.value.ha }} == True"
      with_dict: "{{ clusters }}"
    - name: Clear errors
      clear_vsan_errors:
        vcenter: "{{ vcenter.ip }}"
        user: "{{ vcenter.user }}"
        passwd: "{{ vcenter.password }}"




